<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{!-- <form action="/">
        <label for="">Username</label><br>
        <input type="text"><br>
        <label for="">Email</label><br>
        <input type="email"><br>
        <label for="">Password</label><br>
        <input type="password"><br>
        <label for="">Confirm Password</label><br>
        <input type="password"><br>
        <button type="submit">Sign up</button>
    </form> --}}
    <div class="signup-box">
        <h1>Sign Up</h1>
        <h4>It's free and only takes a minute</h4>
        <form action="/signup" method="POST">
            <label>First Name</label>
            <input type="text" name="firstname">
            <label>Last Name</label>
            <input type="text" name="lastname">
            <label>Email</label>
            <input type="email" name="email">
            {{!-- <label for="male">Male</label>
            <input type="radio" id="male" name="gender" value="Male">
            <label for="female">Female</label>
            <input type="radio" id="female" name="gender" value="Female"> --}}
            <label>Password</label>
            <input type="password" name="password">
            <label>Confirm Password</label>
            <input type="password" name="confirmpassword">
            <input type="submit" value="Submit">
        </form>
        <p>
            By clicking to the Sign up button, you agree to our <br>
            <a href="">Terms and Condition</a> and <a href="">Policy And Privacy</a>
        </p>
    </div>
    <p class="para-2">Already have an account? <a href="/login">Login here</a></p>
</body>

</html>